input, select {
    display: block;
    width: 20rem;
    box-sizing: border-box;
}

.card {
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;

}



.table{
    max-width: 600px;
}

input[type='submit'] {
    margin-top: 1rem;
}



#logout-button{
    position: absolute;
    right: 10px;
    top: 10px;
}