input, select {
    display: block;
    width: 20rem;
    box-sizing: border-box;
}

form {
    max-width: 1000px;
    margin: auto;
}

input[type='submit'], table {
    margin-top: 1rem;
}

table {
    width: 40rem;
}

#logout-button{
    position: absolute;
    right: 50px;
}